.image {
  width: 100%;
  height: 80%;
}
.text {
  background-color: #BEBEBE;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.heroName, .link {
    border: 1px solid #ddd;
    padding-left: 20px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.heroName {
    font-weight: bold;
}

.link {
    margin-bottom: 20px;
    font-style: italic;
}

.heroUrls {
    padding-right: 10px;
}

.heroList {
  text-align: center;
}