html {
    // font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.is-active {
    font-weight: bold;
}

.jumbotron {
    margin-top: 15px;
}

.title {
    font-size: 30px;
    color: #e10078;
    text-align: center;
}

.navLink {
    text-align: left;
}